required:required

DOCTYPE
html(lang="en")

head
    link(rel="stylesheet" href="resultsStyles.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title("Document")

body
    main
        each blogPost in blogData
            section
                h5= blogPost.userName
                p= blogPost.postContent
                img.sr(src=blogPost.gif, alt="gif")