required:required

DOCTYPE
html(lang="en")

head
    link(rel="stylesheet" href="resultsStyles.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title("Document")

body
    main
        section
            #{user}
            #{content}
            #{gif}