*{
    margin:0
}

form, .username{
    display: flex;
}

body{
    min-height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#757BA7,#A2A6C6, #D0D3E3);
}
h1{
    font-size: 3em;
    font-family: 'Dosis', sans-serif;

}

nav{
    background-color: #E7D1E2;
    color: #2C436D;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid #F3D59F;
}

main{
    display:flex;
    flex-direction: column;
    padding-top: 8%;
    justify-content: space-between;
}

section{
    display: flex;
    justify-content: space-between;
    border: 2px solid #F3D59F;
    text-align: center;
    margin-bottom: 5px;
    background-color: #CDA2C3;
    font-family: 'Dosis', sans-serif;
}

img{
    width:100px;
    height:100px;
}



#commentHead{
    text-align: left;
    color: #2C436D;

}

.comments{
    display: none;
    text-align: left;
    padding-left: 10%;  
}

.comment{
    width: 300px;
    margin: 1% 1% 1% 1%;
    border-bottom-style: groove;
    border-bottom-color: lightgrey;
}

.post{
    background-color: #F5FBE3;
    border-radius: 6px;
    margin: 2% 2% 2% 2%;
    padding-bottom: 3px;
    color: #2C436D;


}

section > h5{
    text-align: left;
}


.leftHandSide{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.rightHandSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    padding: 5px;

}


.commentCollection{
    display: flex;
    font-family: 'Dosis', sans-serif;
    color: #2C436D
}


textarea{
    outline: none;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-bottom: 4px solid lightgrey;
}

button{
    height: 60px;
}


nav{
    top: 0; 
    left: 0; 
    width: 100%;
    position: fixed;
}
/* button design */
 [type="submit"], button{
    box-shadow: 0px 10px 14px -7px #e7d1e2;
	background-color:#eaf6c3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#787477;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #e7d1e2; 
    height: 25px;
}