*{
    margin:0
}

form, .username{
    display: flex;
}

body{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

main{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}

section{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 5px;
}

img{
    width:100px;
    height:100px;
}

#commentHead{
    font-family: Georgia;
    text-align: left;
}

.comments{
    display: none; 
    text-align: left;
    padding-left: 10%;
    
}

.comment{
    width: 300px;
    margin: 1% 1% 1% 1%;
    border-bottom-style: groove;
    border-bottom-color: lightgrey;
}

.post{
    background-color: lightgrey;
    border-radius: 6px;
    margin: 2% 2% 2% 2%;

}

section > h5{
    text-align: left;
}


.leftHandSide{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.rightHandSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    padding: 5px;

}


.commentCollection{
    display: flex;
}


textarea{
    outline: none;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-bottom: 4px solid lightgrey;
}

button{
    height: 60px;
}


nav{
    top: 0; 
    left: 0; 
    width: 100%;
    position: fixed;

}