*{
    margin:0
}

form, .username{
    display: flex;
}

body{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #B1B9CD;
}

nav{
    background-color: #FFDAB9;
    color: #384977;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #71989B;
}

main{
    display:flex;
    flex-direction: column;
    padding-top: 5%;
    justify-content: space-between;
}

section{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 5px;
    background-color: #FFE8B9;
}

img{
    width:100px;
    height:100px;
}

#commentHead{
    font-family: Georgia;
    text-align: left;
}

.comments{
    display: none;
    text-align: left;
    padding-left: 10%;  
}

.comment{
    width: 300px;
    margin: 1% 1% 1% 1%;
    border-bottom-style: groove;
    border-bottom-color: lightgrey;
}

.post{
    background-color: lightgrey;
    border-radius: 6px;
    margin: 2% 2% 2% 2%;

}

section > h5{
    text-align: left;
}


.leftHandSide{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.rightHandSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5px;
    padding: 5px;

}


.commentCollection{
    display: flex;
}


textarea{
    outline: none;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-bottom: 4px solid lightgrey;
}

button{
    height: 60px;
}


nav{
    top: 0; 
    left: 0; 
    width: 100%;
    position: fixed;
}